@import 'c/nswDSBase';

.nsw-accordion {
    margin-top: 1.5rem
}

.nsw-accordion:first-child {
    margin-top: 0
}

@media (min-width: 48em) {
    .nsw-accordion {
        margin-top:2rem
    }
}

.nsw-accordion__button,.nsw-accordion__title {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    margin: .5rem 0 0;
    padding: 1rem 3rem 1rem 1rem;
    border-left: 4px solid #002664;
    background-color: #f4f4f7;
    display: block;
    width: 100%;
    text-align: left;
    position: relative
}

@media (min-width: 62em) {
    .nsw-accordion__button,.nsw-accordion__title {
        font-size:1rem;
        line-height: 1.5
    }
}

.is-ready .nsw-accordion__title {
    border-left: 0;
    padding: 0;
    margin-top: 0
}

.nsw-accordion__button {
    border: 0;
    border-left: 4px solid #002664
}

.nsw-accordion__button:hover {
    background-color: rgba(0,133,179,.2)
}

.nsw-accordion__button:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px;
    z-index: 100;
    position: relative
}

.nsw-accordion__icon {
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: .5625rem
}

.is-open .nsw-accordion__icon {
    transform: translateY(-50%) rotate(270deg)
}

.nsw-accordion__icon.nsw-icon {
    height: 1rem;
    width: 1rem;
    right: 1rem
}

.nsw-accordion__content {
    padding: 1rem;
    border-left: 4px solid #002664
}
