@import "c/nswDSBase";

.nsw-hero-banner {
    overflow: hidden;
    color: #333;
    position: relative;
}

@media(min-width: 48em) {
    .nsw-hero-banner {
        height: 23.75rem;
        overflow: hidden;
    }
}

/*
.nsw-hero-banner__image-area {  ESC counter nsw-container 
    margin-left: -1rem;
    margin-right: -1rem;
}
*/

@media(min-width: 48em) {
    .nsw-hero-banner__image-area {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.nsw-hero-banner__image {
    width: 100vw;
    position: relative;
/*    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    */
    height: auto;
    display: block;
}

@media(min-width: 48em) {
    .nsw-hero-banner__image {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-bottom: 0;
    }
}

.nsw-hero-banner__content-area {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

@media(min-width: 48em) {
    .nsw-hero-banner__content-area {
        width: auto;
        position: static;
        margin-left: auto;
        margin-right: auto;
        left: auto;
        right: auto;
        height: 23.75rem;
        background-color: transparent;
        width: 100%;
    }
}

.nsw-hero-banner__content {
    border-top: 6px solid #d7153a;
    font-weight: 400;
    font-size: 1.125rem;
    padding: 2rem; /* ESC 1rem; */
    background-color: #e4e4e6;
}

@media(min-width: 48em) {
    .nsw-hero-banner__content {
        padding: 1rem 1.5rem;
        position: relative;
        top: 50%;
        background-color: hsla(0,0%,100%,.8);
        transform: translateY(-50%);
        max-width: 37.5rem;
        left: -1rem;
    }
}

@media(min-width: 62em) {
    .nsw-hero-banner__content {
        font-size: 1.25rem;
    }
}

.nsw-hero-banner__title {
    font-weight: 600;
    font-size: 1.625rem;
    margin: 0;
}

/*
.nsw-hero-banner__content_internal *+p {
    margin-top: 1rem;
}
*/
/* ESC */
.nsw-hero-banner__content_internal {
    margin-top: 1rem;
}

.nsw-hero-banner__content_internal p {
    margin: 0;
}

.nsw-hero-banner__icon {
    margin: 1rem 0 0;
}

.nsw-hero-banner__link {
    text-decoration: none;
    color: #333;
}

.nsw-hero-banner__link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
