@import 'c/nswDSBase';

.nsw-breadcrumb {
/*    font-family: Montserrat, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    */
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.35;
    margin-top: 1.5rem
}

@media (min-width:62em) {
    .nsw-breadcrumb {
        font-size: .875rem;
        line-height: 1.35
    }
}

.nsw-breadcrumb__list {
    margin: 0;
    padding-left: 0;
    list-style: none
}

.nsw-breadcrumb__item {
    display: none
}

.nsw-breadcrumb__item+.nsw-breadcrumb__item:before {
    content: "";
    display: inline-block;
    border-right: 2px solid;
    border-bottom: 2px solid;
    width: .375rem;
    height: .375rem;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-right: .375rem;
    margin-left: .375rem;
    top: -1px;
    position: relative
}

@media (min-width:48em) {
    .nsw-breadcrumb__item {
        display: inline
    }
}

.nsw-breadcrumb__item:last-child,
.nsw-breadcrumb__item:nth-last-child(2) {
    display: inline
}

.nsw-breadcrumb__item:nth-last-child(2):before {
    display: none
}

@media (min-width:48em) {
    .nsw-breadcrumb__item:nth-last-child(2):before {
        display: inline-block
    }
}

.nsw-breadcrumb__link {
    color: #002664;
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}

.nsw-breadcrumb__link:hover {
    background-color: rgba(0, 133, 179, 0.2)
}

.nsw-breadcrumb__link:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0
}

.nsw-breadcrumb__link:active {
    background-color: #0085b3;
    color: #fff
}

.nsw-breadcrumb--current {
    text-decoration: none;
    pointer-events: none;
    color: #333
}