@import "c/nswDSBase";

.nsw-content-block {
    font-weight: 400;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.nsw-content-block,.nsw-content-block__title {
/*    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale*/
}

.nsw-content-block__title {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.25;
    margin: 0
}

@media (min-width: 62em) {
    .nsw-content-block__title {
        font-size:1.5rem;
        line-height: 1.25
    }
}

.nsw-content-block__content {
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    order: 2
}

@media (min-width: 62em) {
    .nsw-content-block__content {
        font-size:1rem;
        line-height: 1.5
    }
}

.nsw-content-block__content a {
/*    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-weight: 600;
    color: #002664;
    display: inline-block
}

.nsw-content-block__content a:hover {
    background-color: rgba(0,133,179,.2);
    outline: 2px solid rgba(0,133,179,.2)
}

.nsw-content-block__content a:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0
}

.nsw-content-block__content a:active {
    background-color: #0085b3;
    color: #fff
}

.nsw-content-block__copy {
    margin: 1rem 0 0
}

.nsw-content-block__copy a {
    font-weight: 400
}

.nsw-content-block__list {
    margin: 1rem 0 0;
    padding: 0;
    list-style-type: none
}

.nsw-content-block__list li {
    padding: .5rem 0 .5rem 1.125rem;
    position: relative
}

.nsw-content-block__list li:before {
    content: "•";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.125rem;
    line-height: 2.125rem
}

.nsw-content-block__list a {
    font-weight: 400
}

.nsw-content-block__link {
    margin: 1rem 0 0
}

.nsw-content-block__image-area {
    order: 1;
    max-height: 12.5rem;
    margin-bottom: 1.5rem
}

.nsw-content-block__image {
    width: 100%;
    height: 12.5rem;
    -o-object-fit: cover;
    object-fit: cover
}

.nsw-content-block__icon,.nsw-content-block__icon svg {
    max-width: 4rem;
    max-height: 4rem
}
