@import 'c/nswDSBaseMaterial';

/* The following must be used in a community to fix Community Cloud setting
   and .nsw-body-content class must be applied to element */
   
.nsw-body-content ul {
    list-style: disc outside;
    padding-left: 1.5rem;
}


.nsw-body-content ol {
    list-style: decimal outside;
    padding-left: 1.5rem;
}


.nsw-body-content a {
    text-decoration: underline;
}


h1 {
    font-size: 2em;
    margin: .67em 0
}

h4 {
    font-size: 1rem;
}

dl dl,dl ol,dl ul,ol dl,ol ol,ol ul,ul dl,ul ol,ul ul {
    margin: 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

main {
    display: block
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

abbr[title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

/*
svg:not(:root) {
    overflow: hidden
}


button,input,select {
    margin: 0
}

button {
    overflow: visible;
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

fieldset {
    padding: .35em .75em .625em
}

input {
    overflow: visible
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

select {
    text-transform: none
}

textarea {
    margin: 0;
    overflow: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

:-moz-focusring {
    outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
    box-shadow: none
}

details,dialog {
    display: block
}

dialog {
    background-color: #fff;
    border: solid;
    color: #000;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    left: 0;
    margin: auto;
    padding: 1em;
    position: absolute;
    right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content
}

dialog:not([open]) {
    display: none
}

summary {
    display: list-item
}

template {
    display: none
}

@media print {
    .nsw-footer,.nsw-header,.nsw-infobar,.nsw-pagination {
        display: none
    }

    .nsw-accordion__content {
        display: block
    }

    *,:after,:before {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }

    a,a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    a[href^="#"]:after,a[href^="javascript:"]:after {
        content: ""
    }

    pre {
        white-space: pre-wrap!important
    }

    blockquote,pre {
        border: 1px solid #000;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    img,tr {
        page-break-inside: avoid
    }

    h2,h3,p {
        orphans: 3;
        widows: 3
    }

    h2,h3 {
        page-break-after: avoid
    }
}
*/

.sr-only {
    border: 0!important;
    clip: rect(1px,1px,1px,1px)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    height: 1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
    white-space: nowrap!important
}

.sr-only-focusable:active,.sr-only-focusable:focus {
    clip: auto!important;
    -webkit-clip-path: none!important;
    clip-path: none!important;
    height: auto!important;
    overflow: visible!important;
    width: auto!important;
    white-space: normal!important
}

.margin-top--none {
    margin-top: 0!important
}

.margin-top--xs {
    margin-top: .5rem!important
}

.margin-top--sm {
    margin-top: .75rem!important
}

.margin-top--md {
    margin-top: 1rem!important
}

.margin-top--lg {
    margin-top: 1.5rem!important
}

.margin-top--xl {
    margin-top: 2rem!important
}

.margin-top--xxl {
    margin-top: 3rem!important
}

.margin-top--xxxl {
    margin-top: 4rem!important
}

.margin-top--xxxxl {
    margin-top: 5rem!important
}

.nsw-block {
    margin-top: 1.5rem
}

.nsw-block:first-child {
    margin-top: 0
}

@media (min-width: 48em) {
    .nsw-block {
        margin-top:2rem
    }
}

.nsw-m-xs {
    margin: .25rem
}

.nsw-m-top-xs {
    margin-top: .25rem
}

.nsw-m-right-xs {
    margin-right: .25rem
}

.nsw-m-bottom-xs {
    margin-bottom: .25rem
}

.nsw-m-left-xs,.nsw-m-x-xs {
    margin-left: .25rem
}

.nsw-m-x-xs {
    margin-right: .25rem
}

.nsw-m-y-xs {
    margin-top: .25rem;
    margin-bottom: .25rem
}

@media (min-width: 62em) {
    .nsw-m-xs {
        margin:.5rem
    }

    .nsw-m-top-xs {
        margin-top: .5rem
    }

    .nsw-m-right-xs {
        margin-right: .5rem
    }

    .nsw-m-bottom-xs {
        margin-bottom: .5rem
    }

    .nsw-m-left-xs,.nsw-m-x-xs {
        margin-left: .5rem
    }

    .nsw-m-x-xs {
        margin-right: .5rem
    }

    .nsw-m-y-xs {
        margin-top: .5rem;
        margin-bottom: .5rem
    }
}

.nsw-m-sm {
    margin: .5rem
}

.nsw-m-top-sm {
    margin-top: .5rem
}

.nsw-m-right-sm {
    margin-right: .5rem
}

.nsw-m-bottom-sm {
    margin-bottom: .5rem
}

.nsw-m-left-sm,.nsw-m-x-sm {
    margin-left: .5rem
}

.nsw-m-x-sm {
    margin-right: .5rem
}

.nsw-m-y-sm {
    margin-top: .5rem;
    margin-bottom: .5rem
}

@media (min-width: 62em) {
    .nsw-m-sm {
        margin:1rem
    }

    .nsw-m-top-sm {
        margin-top: 1rem
    }

    .nsw-m-right-sm {
        margin-right: 1rem
    }

    .nsw-m-bottom-sm {
        margin-bottom: 1rem
    }

    .nsw-m-left-sm,.nsw-m-x-sm {
        margin-left: 1rem
    }

    .nsw-m-x-sm {
        margin-right: 1rem
    }

    .nsw-m-y-sm {
        margin-top: 1rem;
        margin-bottom: 1rem
    }
}

.nsw-m-md {
    margin: 1rem
}

.nsw-m-top-md {
    margin-top: 1rem
}

.nsw-m-right-md {
    margin-right: 1rem
}

.nsw-m-bottom-md {
    margin-bottom: 1rem
}

.nsw-m-left-md,.nsw-m-x-md {
    margin-left: 1rem
}

.nsw-m-x-md {
    margin-right: 1rem
}

.nsw-m-y-md {
    margin-top: 1rem;
    margin-bottom: 1rem
}

@media (min-width: 62em) {
    .nsw-m-md {
        margin:2rem
    }

    .nsw-m-top-md {
        margin-top: 2rem
    }

    .nsw-m-right-md {
        margin-right: 2rem
    }

    .nsw-m-bottom-md {
        margin-bottom: 2rem
    }

    .nsw-m-left-md,.nsw-m-x-md {
        margin-left: 2rem
    }

    .nsw-m-x-md {
        margin-right: 2rem
    }

    .nsw-m-y-md {
        margin-top: 2rem;
        margin-bottom: 2rem
    }
}

.nsw-m-lg {
    margin: 1.5rem
}

.nsw-m-top-lg {
    margin-top: 1.5rem
}

.nsw-m-right-lg {
    margin-right: 1.5rem
}

.nsw-m-bottom-lg {
    margin-bottom: 1.5rem
}

.nsw-m-left-lg,.nsw-m-x-lg {
    margin-left: 1.5rem
}

.nsw-m-x-lg {
    margin-right: 1.5rem
}

.nsw-m-y-lg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

@media (min-width: 62em) {
    .nsw-m-lg {
        margin:3rem
    }

    .nsw-m-top-lg {
        margin-top: 3rem
    }

    .nsw-m-right-lg {
        margin-right: 3rem
    }

    .nsw-m-bottom-lg {
        margin-bottom: 3rem
    }

    .nsw-m-left-lg,.nsw-m-x-lg {
        margin-left: 3rem
    }

    .nsw-m-x-lg {
        margin-right: 3rem
    }

    .nsw-m-y-lg {
        margin-top: 3rem;
        margin-bottom: 3rem
    }
}

.nsw-m-xl {
    margin: 2rem
}

.nsw-m-top-xl {
    margin-top: 2rem
}

.nsw-m-right-xl {
    margin-right: 2rem
}

.nsw-m-bottom-xl {
    margin-bottom: 2rem
}

.nsw-m-left-xl,.nsw-m-x-xl {
    margin-left: 2rem
}

.nsw-m-x-xl {
    margin-right: 2rem
}

.nsw-m-y-xl {
    margin-top: 2rem;
    margin-bottom: 2rem
}

@media (min-width: 62em) {
    .nsw-m-xl {
        margin:4rem
    }

    .nsw-m-top-xl {
        margin-top: 4rem
    }

    .nsw-m-right-xl {
        margin-right: 4rem
    }

    .nsw-m-bottom-xl {
        margin-bottom: 4rem
    }

    .nsw-m-left-xl,.nsw-m-x-xl {
        margin-left: 4rem
    }

    .nsw-m-x-xl {
        margin-right: 4rem
    }

    .nsw-m-y-xl {
        margin-top: 4rem;
        margin-bottom: 4rem
    }
}

.nsw-m-xxl {
    margin: 2.5rem
}

.nsw-m-top-xxl {
    margin-top: 2.5rem
}

.nsw-m-right-xxl {
    margin-right: 2.5rem
}

.nsw-m-bottom-xxl {
    margin-bottom: 2.5rem
}

.nsw-m-left-xxl,.nsw-m-x-xxl {
    margin-left: 2.5rem
}

.nsw-m-x-xxl {
    margin-right: 2.5rem
}

.nsw-m-y-xxl {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

@media (min-width: 62em) {
    .nsw-m-xxl {
        margin:5rem
    }

    .nsw-m-top-xxl {
        margin-top: 5rem
    }

    .nsw-m-right-xxl {
        margin-right: 5rem
    }

    .nsw-m-bottom-xxl {
        margin-bottom: 5rem
    }

    .nsw-m-left-xxl,.nsw-m-x-xxl {
        margin-left: 5rem
    }

    .nsw-m-x-xxl {
        margin-right: 5rem
    }

    .nsw-m-y-xxl {
        margin-top: 5rem;
        margin-bottom: 5rem
    }
}

.nsw-p-xs {
    padding: .25rem
}

.nsw-p-top-xs {
    padding-top: .25rem
}

.nsw-p-right-xs {
    padding-right: .25rem
}

.nsw-p-bottom-xs {
    padding-bottom: .25rem
}

.nsw-p-left-xs,.nsw-p-x-xs {
    padding-left: .25rem
}

.nsw-p-x-xs {
    padding-right: .25rem
}

.nsw-p-y-xs {
    padding-top: .25rem;
    padding-bottom: .25rem
}

@media (min-width: 62em) {
    .nsw-p-xs {
        padding:.5rem
    }

    .nsw-p-top-xs {
        padding-top: .5rem
    }

    .nsw-p-right-xs {
        padding-right: .5rem
    }

    .nsw-p-bottom-xs {
        padding-bottom: .5rem
    }

    .nsw-p-left-xs,.nsw-p-x-xs {
        padding-left: .5rem
    }

    .nsw-p-x-xs {
        padding-right: .5rem
    }

    .nsw-p-y-xs {
        padding-top: .5rem;
        padding-bottom: .5rem
    }
}

.nsw-p-sm {
    padding: .5rem
}

.nsw-p-top-sm {
    padding-top: .5rem
}

.nsw-p-right-sm {
    padding-right: .5rem
}

.nsw-p-bottom-sm {
    padding-bottom: .5rem
}

.nsw-p-left-sm,.nsw-p-x-sm {
    padding-left: .5rem
}

.nsw-p-x-sm {
    padding-right: .5rem
}

.nsw-p-y-sm {
    padding-top: .5rem;
    padding-bottom: .5rem
}

@media (min-width: 62em) {
    .nsw-p-sm {
        padding:1rem
    }

    .nsw-p-top-sm {
        padding-top: 1rem
    }

    .nsw-p-right-sm {
        padding-right: 1rem
    }

    .nsw-p-bottom-sm {
        padding-bottom: 1rem
    }

    .nsw-p-left-sm,.nsw-p-x-sm {
        padding-left: 1rem
    }

    .nsw-p-x-sm {
        padding-right: 1rem
    }

    .nsw-p-y-sm {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
}

.nsw-p-md {
    padding: 1rem
}

.nsw-p-top-md {
    padding-top: 1rem
}

.nsw-p-right-md {
    padding-right: 1rem
}

.nsw-p-bottom-md {
    padding-bottom: 1rem
}

.nsw-p-left-md,.nsw-p-x-md {
    padding-left: 1rem
}

.nsw-p-x-md {
    padding-right: 1rem
}

.nsw-p-y-md {
    padding-top: 1rem;
    padding-bottom: 1rem
}

@media (min-width: 62em) {
    .nsw-p-md {
        padding:2rem
    }

    .nsw-p-top-md {
        padding-top: 2rem
    }

    .nsw-p-right-md {
        padding-right: 2rem
    }

    .nsw-p-bottom-md {
        padding-bottom: 2rem
    }

    .nsw-p-left-md,.nsw-p-x-md {
        padding-left: 2rem
    }

    .nsw-p-x-md {
        padding-right: 2rem
    }

    .nsw-p-y-md {
        padding-top: 2rem;
        padding-bottom: 2rem
    }
}

.nsw-p-lg {
    padding: 1.5rem
}

.nsw-p-top-lg {
    padding-top: 1.5rem
}

.nsw-p-right-lg {
    padding-right: 1.5rem
}

.nsw-p-bottom-lg {
    padding-bottom: 1.5rem
}

.nsw-p-left-lg,.nsw-p-x-lg {
    padding-left: 1.5rem
}

.nsw-p-x-lg {
    padding-right: 1.5rem
}

.nsw-p-y-lg {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

@media (min-width: 62em) {
    .nsw-p-lg {
        padding:3rem
    }

    .nsw-p-top-lg {
        padding-top: 3rem
    }

    .nsw-p-right-lg {
        padding-right: 3rem
    }

    .nsw-p-bottom-lg {
        padding-bottom: 3rem
    }

    .nsw-p-left-lg,.nsw-p-x-lg {
        padding-left: 3rem
    }

    .nsw-p-x-lg {
        padding-right: 3rem
    }

    .nsw-p-y-lg {
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}

.nsw-p-xl {
    padding: 2rem
}

.nsw-p-top-xl {
    padding-top: 2rem
}

.nsw-p-right-xl {
    padding-right: 2rem
}

.nsw-p-bottom-xl {
    padding-bottom: 2rem
}

.nsw-p-left-xl,.nsw-p-x-xl {
    padding-left: 2rem
}

.nsw-p-x-xl {
    padding-right: 2rem
}

.nsw-p-y-xl {
    padding-top: 2rem;
    padding-bottom: 2rem
}

@media (min-width: 62em) {
    .nsw-p-xl {
        padding:4rem
    }

    .nsw-p-top-xl {
        padding-top: 4rem
    }

    .nsw-p-right-xl {
        padding-right: 4rem
    }

    .nsw-p-bottom-xl {
        padding-bottom: 4rem
    }

    .nsw-p-left-xl,.nsw-p-x-xl {
        padding-left: 4rem
    }

    .nsw-p-x-xl {
        padding-right: 4rem
    }

    .nsw-p-y-xl {
        padding-top: 4rem;
        padding-bottom: 4rem
    }
}

.nsw-p-xxl {
    padding: 2.5rem
}

.nsw-p-top-xxl {
    padding-top: 2.5rem
}

.nsw-p-right-xxl {
    padding-right: 2.5rem
}

.nsw-p-bottom-xxl {
    padding-bottom: 2.5rem
}

.nsw-p-left-xxl,.nsw-p-x-xxl {
    padding-left: 2.5rem
}

.nsw-p-x-xxl {
    padding-right: 2.5rem
}

.nsw-p-y-xxl {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

@media (min-width: 62em) {
    .nsw-p-xxl {
        padding:5rem
    }

    .nsw-p-top-xxl {
        padding-top: 5rem
    }

    .nsw-p-right-xxl {
        padding-right: 5rem
    }

    .nsw-p-bottom-xxl {
        padding-bottom: 5rem
    }

    .nsw-p-left-xxl,.nsw-p-x-xxl {
        padding-left: 5rem
    }

    .nsw-p-x-xxl {
        padding-right: 5rem
    }

    .nsw-p-y-xxl {
        padding-top: 5rem;
        padding-bottom: 5rem
    }
}

.nsw-section--light-10,.nsw-section--light-20,.nsw-section--light-40,.nsw-section--white {
    padding: 1rem 0
}

@media (min-width: 48em) {
    .nsw-section--light-10,.nsw-section--light-20,.nsw-section--light-40,.nsw-section--white {
        padding:2rem 0
    }
}

.nsw-section--short {
    padding: 0
}

@media (min-width: 48em) {
    .nsw-section--short {
        padding:1rem 0
    }
}

.nsw-section--image {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

@media (min-width: 48em) {
    .nsw-section--image {
        padding:2rem 0
    }
}

.nsw-section--white {
    background-color: #fff
}

.nsw-section--light-10 {
    background-color: #f4f4f7
}

.nsw-section--light-20 {
    background-color: #e4e4e6
}

.nsw-section--light-40 {
    background-color: #a0a5ae
}

.nsw-section--box {
    border-radius: .25rem;
    border: 1px solid #e4e4e6;
    padding: 1.5rem
}

/*
html {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5;
    box-sizing: border-box
}
*/

*,:after,:before {
    box-sizing: inherit
}

body {
    margin: 0
}

.nsw-container {
    max-width: 75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto
}

.nsw-container--flush {
    padding-left: 0;
    padding-right: 0
}

.nsw-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
    align-items: stretch
}

@media (min-width: 48em) {
    .nsw-grid {
        margin-left:-1rem;
        margin-right: -1rem
    }
}

.nsw-grid>.nsw-col {
    padding: .5rem
}

@media (min-width: 48em) {
    .nsw-grid>.nsw-col {
        padding:1rem
    }
}

.nsw-grid--no-gutters,.nsw-grid--no-gutters>.nsw-col {
    margin-left: 0;
    margin-right: 0
}

.nsw-grid--spaced {
    margin-top: -.5rem;
    margin-bottom: -.5rem
}

@media (min-width: 48em) {
    .nsw-grid--spaced {
        margin-top:-1rem;
        margin-bottom: -1rem
    }
}

.nsw-grid--spaced>.nsw-col {
    padding-top: 1rem;
    padding-bottom: 1rem
}

@media (min-width: 48em) {
    .nsw-grid--spaced>.nsw-col {
        padding-top:2rem;
        padding-bottom: 2rem
    }
}

.nsw-grid-overlay .nsw-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.nsw-grid-overlay .nsw-grid {
    height: 100%
}

.nsw-grid-overlay .nsw-grid>.nsw-col {
    padding-top: 0;
    padding-bottom: 0
}

.nsw-grid-overlay .nsw-col>div {
    height: 100%;
    background-color: #d7153a;
    opacity: .1
}

.nsw-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch
}

.nsw-row>.nsw-col {
    padding: .5rem
}

@media (min-width: 48em) {
    .nsw-row>.nsw-col {
        padding:1rem
    }
}

.nsw-col {
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width: 36em) {
    .nsw-col--half {
        flex:0 0 50%;
        max-width: 50%
    }
}

@media (min-width: 48em) {
    .nsw-col--third {
        flex:0 0 33.333%;
        max-width: 33.333%
    }

    .nsw-col--two-thirds {
        flex: 0 0 66.666%;
        max-width: 66.666%
    }

    .nsw-col--quarter,.nsw-col--three-quarters {
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (min-width: 62em) {
    .nsw-col--quarter {
        flex:0 0 25%;
        max-width: 25%
    }

    .nsw-col--three-quarters {
        flex: 0 0 75%;
        max-width: 75%
    }
}

.nsw-col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%
}

.nsw-offset-1 {
    margin-left: 8.33333%
}

.nsw-col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%
}

.nsw-offset-2 {
    margin-left: 16.66667%
}

.nsw-col-3 {
    flex: 0 0 25%;
    max-width: 25%
}

.nsw-offset-3 {
    margin-left: 25%
}

.nsw-col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%
}

.nsw-offset-4 {
    margin-left: 33.33333%
}

.nsw-col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%
}

.nsw-offset-5 {
    margin-left: 41.66667%
}

.nsw-col-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.nsw-offset-6 {
    margin-left: 50%
}

.nsw-col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%
}

.nsw-offset-7 {
    margin-left: 58.33333%
}

.nsw-col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%
}

.nsw-offset-8 {
    margin-left: 66.66667%
}

.nsw-col-9 {
    flex: 0 0 75%;
    max-width: 75%
}

.nsw-offset-9 {
    margin-left: 75%
}

.nsw-col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%
}

.nsw-offset-10 {
    margin-left: 83.33333%
}

.nsw-col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%
}

.nsw-offset-11 {
    margin-left: 91.66667%
}

.nsw-col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.nsw-offset-12 {
    margin-left: 100%
}

@media (min-width: 0em) {
    .nsw-col-xs-1 {
        flex:0 0 8.33333%;
        max-width: 8.33333%
    }

    .nsw-offset-xs-1 {
        margin-left: 8.33333%
    }

    .nsw-col-xs-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .nsw-offset-xs-2 {
        margin-left: 16.66667%
    }

    .nsw-col-xs-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .nsw-offset-xs-3 {
        margin-left: 25%
    }

    .nsw-col-xs-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .nsw-offset-xs-4 {
        margin-left: 33.33333%
    }

    .nsw-col-xs-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .nsw-offset-xs-5 {
        margin-left: 41.66667%
    }

    .nsw-col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .nsw-offset-xs-6 {
        margin-left: 50%
    }

    .nsw-col-xs-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .nsw-offset-xs-7 {
        margin-left: 58.33333%
    }

    .nsw-col-xs-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .nsw-offset-xs-8 {
        margin-left: 66.66667%
    }

    .nsw-col-xs-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .nsw-offset-xs-9 {
        margin-left: 75%
    }

    .nsw-col-xs-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .nsw-offset-xs-10 {
        margin-left: 83.33333%
    }

    .nsw-col-xs-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .nsw-offset-xs-11 {
        margin-left: 91.66667%
    }

    .nsw-col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .nsw-offset-xs-12 {
        margin-left: 100%
    }
}

@media (min-width: 36em) {
    .nsw-col-sm-1 {
        flex:0 0 8.33333%;
        max-width: 8.33333%
    }

    .nsw-offset-sm-1 {
        margin-left: 8.33333%
    }

    .nsw-col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .nsw-offset-sm-2 {
        margin-left: 16.66667%
    }

    .nsw-col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .nsw-offset-sm-3 {
        margin-left: 25%
    }

    .nsw-col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .nsw-offset-sm-4 {
        margin-left: 33.33333%
    }

    .nsw-col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .nsw-offset-sm-5 {
        margin-left: 41.66667%
    }

    .nsw-col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .nsw-offset-sm-6 {
        margin-left: 50%
    }

    .nsw-col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .nsw-offset-sm-7 {
        margin-left: 58.33333%
    }

    .nsw-col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .nsw-offset-sm-8 {
        margin-left: 66.66667%
    }

    .nsw-col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .nsw-offset-sm-9 {
        margin-left: 75%
    }

    .nsw-col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .nsw-offset-sm-10 {
        margin-left: 83.33333%
    }

    .nsw-col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .nsw-offset-sm-11 {
        margin-left: 91.66667%
    }

    .nsw-col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .nsw-offset-sm-12 {
        margin-left: 100%
    }
}

@media (min-width: 48em) {
    .nsw-col-md-1 {
        flex:0 0 8.33333%;
        max-width: 8.33333%
    }

    .nsw-offset-md-1 {
        margin-left: 8.33333%
    }

    .nsw-col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .nsw-offset-md-2 {
        margin-left: 16.66667%
    }

    .nsw-col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .nsw-offset-md-3 {
        margin-left: 25%
    }

    .nsw-col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .nsw-offset-md-4 {
        margin-left: 33.33333%
    }

    .nsw-col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .nsw-offset-md-5 {
        margin-left: 41.66667%
    }

    .nsw-col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .nsw-offset-md-6 {
        margin-left: 50%
    }

    .nsw-col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .nsw-offset-md-7 {
        margin-left: 58.33333%
    }

    .nsw-col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .nsw-offset-md-8 {
        margin-left: 66.66667%
    }

    .nsw-col-md-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .nsw-offset-md-9 {
        margin-left: 75%
    }

    .nsw-col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .nsw-offset-md-10 {
        margin-left: 83.33333%
    }

    .nsw-col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .nsw-offset-md-11 {
        margin-left: 91.66667%
    }

    .nsw-col-md-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .nsw-offset-md-12 {
        margin-left: 100%
    }
}

@media (min-width: 62em) {
    .nsw-col-lg-1 {
        flex:0 0 8.33333%;
        max-width: 8.33333%
    }

    .nsw-offset-lg-1 {
        margin-left: 8.33333%
    }

    .nsw-col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .nsw-offset-lg-2 {
        margin-left: 16.66667%
    }

    .nsw-col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .nsw-offset-lg-3 {
        margin-left: 25%
    }

    .nsw-col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .nsw-offset-lg-4 {
        margin-left: 33.33333%
    }

    .nsw-col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .nsw-offset-lg-5 {
        margin-left: 41.66667%
    }

    .nsw-col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .nsw-offset-lg-6 {
        margin-left: 50%
    }

    .nsw-col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .nsw-offset-lg-7 {
        margin-left: 58.33333%
    }

    .nsw-col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .nsw-offset-lg-8 {
        margin-left: 66.66667%
    }

    .nsw-col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .nsw-offset-lg-9 {
        margin-left: 75%
    }

    .nsw-col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .nsw-offset-lg-10 {
        margin-left: 83.33333%
    }

    .nsw-col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .nsw-offset-lg-11 {
        margin-left: 91.66667%
    }

    .nsw-col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .nsw-offset-lg-12 {
        margin-left: 100%
    }
}

@media (min-width: 75em) {
    .nsw-col-xl-1 {
        flex:0 0 8.33333%;
        max-width: 8.33333%
    }

    .nsw-offset-xl-1 {
        margin-left: 8.33333%
    }

    .nsw-col-xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .nsw-offset-xl-2 {
        margin-left: 16.66667%
    }

    .nsw-col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .nsw-offset-xl-3 {
        margin-left: 25%
    }

    .nsw-col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .nsw-offset-xl-4 {
        margin-left: 33.33333%
    }

    .nsw-col-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .nsw-offset-xl-5 {
        margin-left: 41.66667%
    }

    .nsw-col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .nsw-offset-xl-6 {
        margin-left: 50%
    }

    .nsw-col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .nsw-offset-xl-7 {
        margin-left: 58.33333%
    }

    .nsw-col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .nsw-offset-xl-8 {
        margin-left: 66.66667%
    }

    .nsw-col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .nsw-offset-xl-9 {
        margin-left: 75%
    }

    .nsw-col-xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .nsw-offset-xl-10 {
        margin-left: 83.33333%
    }

    .nsw-col-xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .nsw-offset-xl-11 {
        margin-left: 91.66667%
    }

    .nsw-col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .nsw-offset-xl-12 {
        margin-left: 100%
    }
}

.nsw-show-xs {
    display: none
}

@media (min-width: 0em) {
    .nsw-show-xs {
        display:block
    }

    .nsw-hide-xs {
        display: none
    }
}

.nsw-show-sm {
    display: none
}

@media (min-width: 36em) {
    .nsw-show-sm {
        display:block
    }

    .nsw-hide-sm {
        display: none
    }
}

.nsw-show-md {
    display: none
}

@media (min-width: 48em) {
    .nsw-show-md {
        display:block
    }

    .nsw-hide-md {
        display: none
    }
}

.nsw-show-lg {
    display: none
}

@media (min-width: 62em) {
    .nsw-show-lg {
        display:block
    }

    .nsw-hide-lg {
        display: none
    }
}

.nsw-show-xl {
    display: none
}

@media (min-width: 75em) {
    .nsw-show-xl {
        display:block
    }

    .nsw-hide-xl {
        display: none
    }
}

/*
.nsw-page-layout {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
    align-items: stretch
}

@media (min-width: 48em) {
    .nsw-page-layout {
        margin-left:-1rem;
        margin-right: -1rem
    }
}

.nsw-page-layout__main {
    padding: .5rem;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width: 48em) {
    .nsw-page-layout__main {
        padding:1rem
    }
}

@media (min-width: 62em) {
    .nsw-page-layout__main:not(:first-child),.nsw-page-layout__main:not(:last-child) {
        flex:0 0 66.66667%;
        max-width: 66.66667%
    }
}

.nsw-page-layout__sidebar {
    padding: .5rem;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width: 48em) {
    .nsw-page-layout__sidebar {
        padding:1rem
    }
}

@media (min-width: 62em) {
    .nsw-page-layout__sidebar {
        flex:0 0 33.33333%;
        max-width: 33.33333%
    }
}

@media (min-width: 62em) {
    .nsw-page-layout__sidebar:first-child {
        padding-right:3rem
    }
}

@media (min-width: 62em) {
    .nsw-page-layout__sidebar:last-child {
        padding-left:3rem
    }
}

.nsw-page-layout__sidebar--desktop {
    display: none
}

@media (min-width: 62em) {
    .nsw-page-layout__sidebar--desktop {
        display:block
    }
}

.nsw-layout {
    display: block
}

@media (min-width: 48em) {
    .nsw-layout--sidebar-left {
        -ms-grid-columns:minmax(14rem,25%) 2rem 1fr;
        grid-template: "sidebar main" auto/minmax(14rem,25%) 1fr
    }
}

@media (min-width: 48em) {
    .nsw-layout--sidebar-left,.nsw-layout--sidebar-right {
        display:-ms-grid;
        display: grid;
        grid-gap: 2rem;
        -ms-grid-rows: auto
    }

    .nsw-layout--sidebar-right {
        -ms-grid-columns: 1fr 2rem minmax(14rem,25%);
        grid-template: "main sidebar" auto/1fr minmax(14rem,25%)
    }
}

.nsw-layout__sidebar {
    margin-top: 2rem;
    grid-area: sidebar
}

.nsw-layout__sidebar--nav {
    display: none
}

@media (min-width: 48em) {
    .nsw-layout__sidebar--nav {
        display:block
    }
}

.nsw-layout__content {
    margin-top: 2rem;
    grid-area: main
}

@media (min-width: 48em) {
    .nsw-layout__sidebar {
        -ms-grid-row:1;
        -ms-grid-column: 1
    }

    .nsw-layout--sidebar-right>.nsw-layout__sidebar,.nsw-layout__content {
        -ms-grid-row: 1;
        -ms-grid-column: 3
    }

    .nsw-layout--sidebar-right>.nsw-layout__content {
        -ms-grid-row: 1;
        -ms-grid-column: 1
    }
}
*/

.nsw-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    fill: #002664
}

.nsw-icon--error {
    fill: #b81237
}

.nsw-icon--success {
    fill: #00a908
}

.nsw-icon--info {
    fill: #2e5299
}

.nsw-icon--warning {
    fill: #dc5800
}

.nsw-icon--rotate-90 {
    transform: rotate(90deg)
}

.nsw-icon--rotate-180 {
    transform: rotate(180deg)
}

.nsw-icon--rotate-270 {
    transform: rotate(270deg)
}

.nsw-material-icons {
    color: #002664;
    font-size: 1.875rem
}

.nsw-material-icons--error {
    color: #b81237
}

.nsw-material-icons--success {
    color: #00a908
}

.nsw-material-icons--info {
    color: #2e5299
}

.nsw-material-icons--warning {
    color: #dc5800
}

.nsw-material-icons--rotate-90 {
    transform: rotate(90deg)
}

.nsw-material-icons--rotate-180 {
    transform: rotate(180deg)
}

.nsw-material-icons--rotate-270 {
    transform: rotate(270deg)
}

/*

.nsw-docs {
    background-color: #ececed
}

.nsw-docs--style {
    background-color: #fff
}

@media (min-width: 48em) {
    .nsw-docs--style .nsw-docs__intro {
        padding-right:11.875rem
    }
}

.nsw-docs--style .nsw-docs__example.nsw-docs__example--simple {
    padding: 1rem 0 0
}

.nsw-docs--style .nsw-docs-code__wrapper {
    background-color: #f4f4f7;
    min-height: 4.25rem;
    display: flex;
    align-items: center
}

@media (min-width: 75em) {
    .nsw-docs--home .nsw-header,.nsw-docs--home .nsw-masthead {
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 300
    }
}

.nsw-docs--home .nsw-container,.nsw-docs--home .nsw-header__container {
    margin: 0
}

@media (min-width: 75em) {
    .nsw-docs--home .nsw-header {
        top:2.625rem;
        border-bottom: 1px solid #e4e4e6
    }
}

.nsw-docs--home .nsw-docs-nav {
    top: 8.5625rem
}

@media (min-width: 75em) {
    .nsw-docs--home .nsw-docs__content {
        padding-top:8.5625rem
    }
}

@media (min-width: 75em) {
    .nsw-docs__wrapper {
        display:flex
    }
}

.nsw-docs__nav {
    display: none;
    min-width: 18.75rem;
    max-width: 18.75rem
}

@media (min-width: 75em) {
    .nsw-docs__nav {
        display:block
    }
}

.nsw-docs__main {
    width: 100%;
    padding: 1.5rem 1rem;
    min-height: 100vh
}

@media (min-width: 75em) {
    .nsw-docs__main {
        padding:3rem 3.25rem
    }
}

.nsw-docs__main--narrow .nsw-docs__container {
    max-width: 50rem
}

.nsw-docs__main--narrow .nsw-docs__example {
    padding: 1rem;
    background-color: #fff
}

.nsw-docs__main--wide .nsw-docs__container {
    max-width: 75rem
}

.nsw-docs__main--wide .nsw-docs__example {
    padding: 1rem;
    background-color: #fff
}

.nsw-docs__main--menu .nsw-docs__container {
    max-width: 50rem
}

.nsw-docs__main--menu .nsw-docs__component {
    max-width: 21rem
}

.nsw-docs__main--menu .nsw-docs__example {
    padding: 1rem;
    background-color: #fff
}

.nsw-docs__intro {
    padding: 0 0 1.5rem;
    position: relative
}

@media (min-width: 48em) {
    .nsw-docs__intro {
        padding-right:7.75rem
    }
}

@media (min-width: 75em) {
    .nsw-docs__intro {
        padding-bottom:3rem
    }
}

@media (min-width: 48em) {
    .nsw-docs__intro .nsw-docs__external {
        top:1rem
    }
}

@media (min-width: 75em) {
    .nsw-docs__intro .nsw-docs__external {
        top:1.5rem
    }
}

.nsw-docs__content>h3 {
    padding: 1rem 0
}

.nsw-docs__content>h3:first-child {
    padding-top: 0
}

.nsw-docs__content>h3+p {
    margin-top: -.75rem;
    padding-bottom: 1rem
}

.nsw-docs__content>h3+h4 {
    padding-top: 0
}

.nsw-docs__content>h4 {
    padding: 1rem 0
}

.nsw-docs__example--hidden {
    display: none
}

.nsw-docs__example.nsw-docs__example--dark {
    background-color: #a0a5ae
}

.nsw-docs__component:after {
    content: "";
    clear: both;
    display: table
}

.nsw-docs__back {
    display: flex;
    padding-bottom: 1.5rem
}

@media (min-width: 75em) {
    .nsw-docs__back {
        display:none
    }
}

.nsw-docs__back a {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    font-size: .875rem;
    color: #002664;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer
}

.nsw-docs__back a:hover {
    background-color: rgba(0,133,179,.2)
}

.nsw-docs__back a:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px
}

.nsw-docs__back a span {
    text-decoration: underline
}

.nsw-docs__back a i {
    font-size: 1rem;
    margin-right: .25rem
}

.nsw-docs__buttons {
    display: flex;
    margin-top: .5rem
}

@media (min-width: 48em) {
    .nsw-docs__buttons {
        position:absolute;
        top: .1875rem;
        right: 0;
        margin-top: 0
    }
}

@media (min-width: 75em) {
    .nsw-docs__buttons {
        top:.625rem
    }
}

.nsw-docs__guidance {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    border-radius: .25rem;
    color: #fff;
    background-color: #002664;
    font-size: .875rem;
    border: 1px solid #002664;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .5rem
}

.nsw-docs__guidance:hover {
    color: #fff;
    background-color: #003182;
    border-color: #003182
}

.nsw-docs__guidance:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px
}

.nsw-docs__guidance i {
    font-size: 1rem;
    margin-right: .25rem;
    color: #fff
}

.nsw-docs__external {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    font-size: .875rem;
    color: #002664;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    margin-top: .5rem
}

@media (min-width: 48em) {
    .nsw-docs__external {
        position:absolute;
        top: 0;
        right: 0;
        margin-top: 0
    }
}

.nsw-docs__external:hover {
    background-color: rgba(0,133,179,.2)
}

.nsw-docs__external:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px
}

.nsw-docs__external span {
    text-decoration: underline
}

.nsw-docs__external i {
    font-size: 1rem;
    margin-left: .25rem
}

.nsw-docs__list {
    margin: 1rem 0 0;
    padding: 0;
    list-style-type: none
}

.nsw-docs__list--4 {
    -moz-column-gap: 2.25rem;
    column-gap: 2.25rem;
    -moz-column-count: 2;
    column-count: 2
}

@media (min-width: 62em) {
    .nsw-docs__list--4 {
        -moz-column-count:4;
        column-count: 4
    }
}

@media (min-width: 62em) {
    .nsw-docs__list--2 {
        -moz-column-gap:2.25rem;
        column-gap: 2.25rem;
        -moz-column-count: 2;
        column-count: 2
    }
}

.nsw-docs__list li {
    padding: .125rem 0
}

.nsw-docs__box {
    background-color: #a0a5ae;
    min-height: 3.5rem
}

.nsw-docs__box--large {
    min-height: 9.375rem
}

.nsw-docs-code {
    position: relative
}

.nsw-docs-code__button {
    color: #002664;
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    font-size: .875rem;
    background: transparent;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    cursor: pointer;
    padding: 0
}

.nsw-docs-code__button:hover {
    background-color: rgba(0,133,179,.2);
    outline: 2px solid rgba(0,133,179,.2)
}

.nsw-docs-code__button:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0
}

.nsw-docs-code__button:visited {
    color: #551a8b
}

.nsw-docs-code__button:active {
    background-color: #0085b3;
    color: #fff
}

.nsw-docs-code__button span {
    text-decoration: underline
}

.nsw-docs-code__button i {
    font-size: 1.25rem;
    margin-left: .125rem
}

.nsw-docs-code__button.is-open i {
    transform: rotate(180deg)
}

.nsw-docs-code__content {
    position: relative;
    display: none;
    margin-top: 1.5rem;
    max-width: 50rem
}

.nsw-docs-code__content.is-open {
    display: block
}

.nsw-docs-code__content pre {
    margin: 0
}

.nsw-docs-code__content .hljs {
    padding: 1rem;
    overflow: visible;
    background-color: transparent
}

.nsw-docs-code__wrapper {
    max-width: 50rem;
    max-height: 25rem;
    overflow: auto;
    background-color: #fff
}

.nsw-docs-code__copy {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    border-radius: .25rem;
    font-size: .875rem;
    background: #fff;
    color: #002664;
    border: 1px solid #002664;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .5rem
}

.nsw-docs-code__copy:hover {
    background-color: #e4e4e6
}

.nsw-docs-code__copy:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px
}

.nsw-docs-code__copy i {
    font-size: 1rem;
    margin-left: .25rem
}

.nsw-docs-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18.75rem;
    overflow-y: auto;
    border-right: 1px solid #e4e4e6;
    background: #fff;
    z-index: 300
}

.nsw-docs-nav__logo {
    padding-bottom: 2.5rem
}

.nsw-docs-nav__logo img {
    max-width: 10.5rem;
    max-height: 3.4375rem
}

.nsw-docs-nav__wrapper {
    padding: 1.875rem 1rem
}

.nsw-docs-nav__title a,.nsw-docs-nav__title button {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #e4e4e6;
    display: block;
    width: 100%;
    padding: .5rem;
    text-align: left;
    color: #000;
    text-decoration: none
}

@media (min-width: 62em) {
    .nsw-docs-nav__title a,.nsw-docs-nav__title button {
        font-size:1rem;
        line-height: 1.5
    }
}

.nsw-docs-nav__title a:hover,.nsw-docs-nav__title button:hover {
    background-color: rgba(0,133,179,.2)
}

.nsw-docs-nav__title a:focus,.nsw-docs-nav__title button:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px
}

.nsw-docs-nav__title a.is-active,.nsw-docs-nav__title button.is-active {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    border-bottom: 2px solid #002664
}

.nsw-docs-nav__title button {
    display: flex;
    align-items: center
}

.nsw-docs-nav__title button.is-open .nsw-material-icons {
    transform: rotate(180deg)
}

.nsw-docs-nav__title button.is-active {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600
}

.nsw-docs-nav__title button span {
    width: 100%
}

.nsw-docs-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none
}

.nsw-docs-nav__list.is-open {
    display: block
}

.nsw-docs-nav__list li {
    padding: 0;
    margin: 0
}

.nsw-docs-nav__list a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: .5rem;
    border-left: .25rem solid transparent
}

.nsw-docs-nav__list a.is-active,.nsw-docs-nav__list a:hover {
    background-color: #f4f4f7;
    border-color: #d7153a
}

.nsw-docs-nav__link {
    padding: 1rem;
    display: block;
    color: #333;
    text-decoration: none;
    background-color: #fff
}

*/

.nsw-body-content,.nsw-wysiwyg-content {
/*    font-family: Montserrat,Arial,sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #333
}

@media (min-width: 62em) {
    .nsw-body-content,.nsw-wysiwyg-content {
        font-size:1rem;
        line-height: 1.5
    }
}

.nsw-body-content a:not([class]),.nsw-wysiwyg-content a:not([class]) {
    color: #002664;
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}

.nsw-body-content a:not([class]):hover,.nsw-wysiwyg-content a:not([class]):hover {
    background-color: rgba(0,133,179,.2);
    outline: 2px solid rgba(0,133,179,.2)
}

.nsw-body-content a:not([class]):focus,.nsw-wysiwyg-content a:not([class]):focus {
    outline: 3px solid #0085b3;
    outline-offset: 0
}

.nsw-body-content a:not([class]):visited,.nsw-wysiwyg-content a:not([class]):visited {
    color: #551a8b
}

.nsw-body-content a:not([class]):active,.nsw-wysiwyg-content a:not([class]):active {
    background-color: #0085b3;
    color: #fff
}

.nsw-body-content dl:not([class]),.nsw-body-content ol:not([class]),.nsw-body-content p:not([class]),.nsw-body-content ul:not([class]),.nsw-wysiwyg-content dl:not([class]),.nsw-wysiwyg-content ol:not([class]),.nsw-wysiwyg-content p:not([class]),.nsw-wysiwyg-content ul:not([class]) {
    margin: 0
}

.nsw-body-content *+dl:not([class]),.nsw-body-content *+ol:not([class]),.nsw-body-content *+p:not([class]),.nsw-body-content *+ul:not([class]),.nsw-wysiwyg-content *+dl:not([class]),.nsw-wysiwyg-content *+ol:not([class]),.nsw-wysiwyg-content *+p:not([class]),.nsw-wysiwyg-content *+ul:not([class]) {
    margin-top: 1rem
}

.nsw-body-content dt:not([class]),.nsw-body-content ol:not([class]) li,.nsw-body-content ul:not([class]) li,.nsw-wysiwyg-content dt:not([class]),.nsw-wysiwyg-content ol:not([class]) li,.nsw-wysiwyg-content ul:not([class]) li {
    margin-top: .5rem
}

.nsw-body-content small,.nsw-wysiwyg-content small {
    font-size: .875rem;
    line-height: 1.35
}

@media (min-width: 62em) {
    .nsw-body-content small,.nsw-wysiwyg-content small {
        font-size:.875rem;
        line-height: 1.35
    }
}

.nsw-body-content abbr,.nsw-body-content acronym,.nsw-wysiwyg-content abbr,.nsw-wysiwyg-content acronym {
    text-decoration: none;
    border-bottom: 1px dashed #002664
}





.nsw-body-content hr,.nsw-wysiwyg-content hr {
    border: 0;
    height: 1px;
    background-color: #e4e4e6;
    margin: 1rem 0
}

.nsw-body-content h1:not([class]),.nsw-body-content h2:not([class]),.nsw-body-content h3:not([class]),.nsw-body-content h4:not([class]),.nsw-body-content h5:not([class]),.nsw-body-content h6:not([class]),.nsw-wysiwyg-content h1:not([class]),.nsw-wysiwyg-content h2:not([class]),.nsw-wysiwyg-content h3:not([class]),.nsw-wysiwyg-content h4:not([class]),.nsw-wysiwyg-content h5:not([class]),.nsw-wysiwyg-content h6:not([class]) {
/*    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-weight: 600;
    margin: 0
}

.nsw-body-content h1:not([class]),.nsw-wysiwyg-content h1:not([class]) {
    font-size: 2.25rem;
    line-height: 1.25
}

@media (min-width: 62em) {
    .nsw-body-content h1:not([class]),.nsw-wysiwyg-content h1:not([class]) {
        font-size:3rem;
        line-height: 1.25
    }
}

.nsw-body-content h2:not([class]),.nsw-wysiwyg-content h2:not([class]) {
    font-size: 1.75rem;
    line-height: 1.25
}

@media (min-width: 62em) {
    .nsw-body-content h2:not([class]),.nsw-wysiwyg-content h2:not([class]) {
        font-size:2rem;
        line-height: 1.25
    }
}

.nsw-body-content h3:not([class]),.nsw-wysiwyg-content h3:not([class]) {
    font-size: 1.375rem;
    line-height: 1.25
}

@media (min-width: 62em) {
    .nsw-body-content h3:not([class]),.nsw-wysiwyg-content h3:not([class]) {
        font-size:1.5rem;
        line-height: 1.25
    }
}

.nsw-body-content h4:not([class]),.nsw-wysiwyg-content h4:not([class]) {
    font-size: 1.125rem;
    line-height: 1.33
}

@media (min-width: 62em) {
    .nsw-body-content h4:not([class]),.nsw-wysiwyg-content h4:not([class]) {
        font-size:1.25rem;
        line-height: 1.33
    }
}

.nsw-body-content h5:not([class]),.nsw-body-content h6:not([class]),.nsw-wysiwyg-content h5:not([class]),.nsw-wysiwyg-content h6:not([class]) {
    font-size: 1rem;
    line-height: 1.5
}

@media (min-width: 62em) {
    .nsw-body-content h5:not([class]),.nsw-body-content h6:not([class]),.nsw-wysiwyg-content h5:not([class]),.nsw-wysiwyg-content h6:not([class]) {
        font-size:1rem;
        line-height: 1.5
    }
}

.nsw-body-content *+h1:not([class]),.nsw-wysiwyg-content *+h1:not([class]) {
    margin-top: 4rem
}

.nsw-body-content *+h2:not([class]),.nsw-wysiwyg-content *+h2:not([class]) {
    margin-top: 3rem
}

.nsw-body-content *+h3:not([class]),.nsw-wysiwyg-content *+h3:not([class]) {
    margin-top: 2rem
}

.nsw-body-content *+h4:not([class]),.nsw-body-content *+h5:not([class]),.nsw-body-content *+h6:not([class]),.nsw-wysiwyg-content *+h4:not([class]),.nsw-wysiwyg-content *+h5:not([class]),.nsw-wysiwyg-content *+h6:not([class]) {
    margin-top: 1.5rem
}

.nsw-body-content .nsw-intro,.nsw-wysiwyg-content .nsw-intro {
    font-size: 1.125rem;
    line-height: 1.33;
    margin: 1rem 0 0
}

@media (min-width: 62em) {
    .nsw-body-content .nsw-intro,.nsw-wysiwyg-content .nsw-intro {
        font-size:1.25rem;
        line-height: 1.33
    }
}


.nsw-text-link {
/*    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-weight: 600;
    color: #002664;
    display: inline-block;
    text-decoration: underline; /* ESC */
}

.nsw-text-link:hover {
    background-color: rgba(0,133,179,.2);
    outline: 2px solid rgba(0,133,179,.2)
}

.nsw-text-link:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0
}

.nsw-text-link:active {
    background-color: #0085b3;
    color: #fff
}

h1.nsw-section-title,h2.nsw-section-title,h3.nsw-section-title,h4.nsw-section-title {
/*    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-weight: 600;
    margin: 0;
    padding-top: .5rem;
    padding-bottom: .5rem
}

@media (min-width: 48em) {
    h1.nsw-section-title,h2.nsw-section-title,h3.nsw-section-title,h4.nsw-section-title {
        padding-top:1rem
    }
}

h1.nsw-section-title {
    font-size: 2.25rem;
    line-height: 1.25
}

@media (min-width: 62em) {
    h1.nsw-section-title {
        font-size:3rem;
        line-height: 1.25
    }
}

h2.nsw-section-title {
    font-size: 1.75rem;
    line-height: 1.25
}

@media (min-width: 62em) {
    h2.nsw-section-title {
        font-size:2rem;
        line-height: 1.25
    }
}

h3.nsw-section-title {
    font-size: 1.375rem;
    line-height: 1.25
}

@media (min-width: 62em) {
    h3.nsw-section-title {
        font-size:1.5rem;
        line-height: 1.25
    }
}

h4.nsw-section-title {
    font-size: 1.125rem;
    line-height: 1.33
}

@media (min-width: 62em) {
    h4.nsw-section-title {
        font-size:1.25rem;
        line-height: 1.33
    }
}

.nsw-section-separator {
    border: 0;
    height: 1px;
    background-color: #e4e4e6;
    margin: 2rem 0
}

@media (min-width: 48em) {
    .nsw-section-separator {
        margin:3rem 0
    }
}

.nsw-section-text {
    margin: -.5rem 0 0;
    padding-bottom: .5rem
}

/*

.section-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

@media (min-width: 48em) {
    .section-links {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap
    }
}

.section-links a:not([class]),.section-links a:not([class]):visited {
    color: #002664
}

.section-links a:not([class]):hover {
    background-color: rgba(0,133,179,.2);
    outline: 2px solid rgba(0,133,179,.2)
}

.section-links a:not([class]):focus {
    outline: 3px solid #0085b3;
    outline-offset: 0
}

.section-links a:not([class]):active {
    background-color: #0085b3;
    color: #fff
}

.section-links__group {
    padding-bottom: 1.5rem;
    flex: 1 0 auto;
    min-width: 16rem;
    max-width: 50%
}

@media (min-width: 48em) {
    .section-links__group {
        flex-basis:50%;
        min-width: auto
    }
}

@media (min-width: 62em) {
    .section-links__group {
        flex-basis:25%
    }
}

.section-links__heading {
    margin: 0;
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5
}

@media (min-width: 62em) {
    .section-links__heading {
        font-size:1rem;
        line-height: 1.5
    }
}

.section-links__list {
    padding: 0;
    font-size: .875rem;
    line-height: 1.35;
    list-style: none;
    margin: .25rem 0 0
}

@media (min-width: 62em) {
    .section-links__list {
        font-size:.875rem;
        line-height: 1.35
    }
}

.section-links__item:not(:first-child) {
    margin-top: .5rem
}




.navigation-open {
    overflow: hidden
}



*/

.nsw-media {
    width: 100%;
    margin: 1rem auto
}

@media (min-width: 48em) {
    .nsw-media {
        margin-top:2rem;
        margin-bottom: 2rem
    }

    .nsw-media--90 {
        width: 90%
    }

    .nsw-media--80 {
        width: 80%
    }

    .nsw-media--70 {
        width: 70%
    }

    .nsw-media--60 {
        width: 60%
    }

    .nsw-media--left-30,.nsw-media--left-40,.nsw-media--left-50 {
        margin-left: 0;
        padding-right: 1rem;
        margin-right: 1rem;
        float: left
    }

    .nsw-media--right-30,.nsw-media--right-40,.nsw-media--right-50 {
        padding-left: 1rem;
        margin-left: 1rem;
        margin-right: 0;
        float: right
    }

    .nsw-media--left-50,.nsw-media--right-50 {
        width: 50%
    }

    .nsw-media--left-40,.nsw-media--right-40 {
        width: 40%
    }

    .nsw-media--left-30,.nsw-media--right-30 {
        width: 30%
    }
}

.nsw-media__video {
    overflow: hidden;
    position: relative;
    width: 100%
}

.nsw-media__video:after {
    content: "";
    display: block;
    padding-top: 56.25%
}

.nsw-media__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.nsw-media img {
    display: block;
    border: 0;
    width: 100%
}

.nsw-media figcaption {
    font-size: .875rem;
    line-height: 1.35;
    background-color: #f4f4f7;
    padding: 1rem
}

@media (min-width: 62em) {
    .nsw-media figcaption {
        font-size:.875rem;
        line-height: 1.35
    }
}

.nsw-media--transparent figcaption {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0
}


.nsw-pagination {
/*    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-weight: 600;
    margin-top: 1.5rem;
    padding-left: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none
}

.nsw-pagination:first-child {
    margin-top: 0
}

@media (min-width: 48em) {
    .nsw-pagination {
        margin-top:2rem
    }
}

.nsw-pagination__item {
    margin: 0 0 0 .5rem
}

.nsw-pagination__item--next-page {
    margin: 0 0 0 1rem
}

.nsw-pagination__item--prev-page {
    margin: 0 1rem 0 0
}

.nsw-pagination__item--prev-page+.nsw-pagination__item {
    margin-left: 0
}

.nsw-pagination__link {
    position: relative;
    display: inline-flex;
    text-decoration: none;
    vertical-align: middle;
    padding: .25rem .5rem;
    color: #333;
    text-align: center;
    min-width: 1.5rem
}

.nsw-pagination__link:hover {
    background-color: rgba(0,133,179,.2)
}

.nsw-pagination__link:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0
}

.nsw-pagination__link.is-current:after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #002664
}

.nsw-pagination__text {
    vertical-align: middle
}





.nsw-tabs {
    margin-top: 1.5rem
}

.nsw-tabs:first-child {
    margin-top: 0
}

@media (min-width: 48em) {
    .nsw-tabs {
        margin-top:2rem
    }
}

.nsw-tabs__list-wrapper {
    overflow: hidden;
    height: 3rem;
    background-color: #f4f4f7
}

@media (min-width: 48em) {
    .nsw-tabs__list-wrapper {
        background-color:transparent
    }
}

.nsw-tabs__list {
    margin: 0;
    padding: 0 0 1.25rem;
    list-style: none;
    display: flex;
    position: relative;
    overflow-x: auto;
    white-space: nowrap
}

.nsw-tabs__link {
    padding: .75rem 1rem;
/*    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-weight: 400;
    z-index: 1;
    display: block;
    position: relative;
    text-decoration: none;
    color: #002664;
    height: 100%
}

.nsw-tabs__link:hover {
    background-color: rgba(0,133,179,.2)
}

.nsw-tabs__link:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px;
    outline-offset: -3px
}

.is-selected .nsw-tabs__link {
/*    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-weight: 600;
    color: #333
}

.is-selected .nsw-tabs__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 4px solid #d7153a
}

.nsw-tabs__content {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #e4e4e6;
    border-top: 2px solid #e4e4e6;
    margin-top: -2px
}

.nsw-tabs__content:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px
}


