@import "c/nswDSForm";

.nsw-form-combobox {
    display: flex;
    position: relative
}

.nsw-form-combobox__input {
    padding: .75rem 1rem;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* vertical-align: middle; */
}

[role=combobox] input[readonly],
input[readonly][role=combobox] {
    border-color: #4c4f55;
    padding-left: 1.75rem;
}

.nsw-form-combobox__icon {
    border-radius: .25rem;
    padding: 0 .75rem;
    border: 1px solid #4c4f55;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    background-color: rgb(239, 239, 239);
    cursor: default;
}