@import "c/nswDSForm";

.nsw-list-item--reversed {
    flex-direction: row-reverse;
}

.nsw-list-item {
    font-weight: 400;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.5rem 0;
    border-bottom: 1px solid #e4e4e6;
}

.nsw-list-item:first-child {
    border-top: 1px solid #e4e4e6;
}

.nsw-list-item__content {
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
}

.nsw-list-item__copy,
.nsw-list-item__info,
.nsw-list-item__label,
.nsw-list-item__tags,
.nsw-list-item__title {
    margin: .5rem 0 0;
}

.nsw-list-item__copy:first-child,
.nsw-list-item__info:first-child,
.nsw-list-item__label:first-child,
.nsw-list-item__tags:first-child,
.nsw-list-item__title:first-child {
    margin: 0;
}

.nsw-list-item__label {
    font-weight: bolder;
}

.nsw-list-item__info,
.nsw-list-item__label {
    font-size: .875rem;
    line-height: 1.35;
}

.nsw-list-item__title {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.33;
}

@media (min-width: 62em) {
    .nsw-list-item__title {
        font-size: 1.25rem;
        line-height: 1.33;
    }
}

.nsw-list-item__link {
    text-decoration: underline;
    color: #002664;
}

.nsw-list-item--reversed .nsw-list-item__image-area {
    margin: 0 1.5rem 0 0;
}

.nsw-list-item__image-area {
    min-width: 15.625rem;
    width: 15.625rem;
    margin: 0 0 0 1.5rem;
    display: none;
}

@media (min-width: 62em) {
    .nsw-list-item__image-area {
        display: block;
    }
}

.nsw-list-item__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}