@import "c/nswDSBase";

.nsw-progress-indicator {
    margin-top: 1.5rem
}

.nsw-progress-indicator:first-child {
    margin-top: 0
}

@media (min-width: 48em) {
    .nsw-progress-indicator {
        margin-top:2rem
    }
}

.nsw-progress-indicator__count {
    font-size: 1rem;
    line-height: 1.5
}

@media (min-width: 62em) {
    .nsw-progress-indicator__count {
        font-size:1rem;
        line-height: 1.5
    }
}

.nsw-progress-indicator__bar {
    display: flex;
    margin-top: .5rem
}

.nsw-progress-indicator__step {
    border-top: 4px solid #e4e4e6;
    width: 100%
}

.nsw-progress-indicator__step--active {
    border-top: 4px solid #d7153a
}

.nsw-progress-indicator__step:not(:first-child) {
    margin-left: .25rem
}
