@import "c/nswDSBase";

.nsw-form a {
    color: #002664;
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}

.nsw-form a:hover {
    background-color: rgba(0,133,179,.2);
    outline: 2px solid rgba(0,133,179,.2)
}

.nsw-form a:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0
}

.nsw-form a:visited {
    color: #551a8b
}

.nsw-form a:active {
    background-color: #0085b3;
    color: #fff
}

*+.nsw-form {
    margin-top: 3rem
}

.nsw-form-label,
.nsw-form__label {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    display: block
}

@media (min-width: 62em) {
    .nsw-form-label,
    .nsw-form__label {
        font-size:1rem;
        line-height: 1.5
    }
}

.nsw-form-label+input,.nsw-form-label+select,.nsw-form-label+textarea,
.nsw-form__label+input,.nsw-form__label+select,.nsw-form__label+textarea {
    margin-top: .25rem
}

:not(legend)+.nsw-form-label,
:not(legend)+.nsw-form__label {
    margin-top: 1rem
}


.nsw-form-required:after,
.nsw-form__required:after {
    content: " *";
    color: #d7153a
}

.nsw-form-input, .nsw-form-select,
.nsw-form__input, .nsw-form__select {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding: .75rem 1rem;
    border-radius: .25rem;
    background-color: #fff;
    color: #333;
    border: 1px solid #4c4f55;
    vertical-align: middle;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    width: 100%
}

@media (min-width: 62em) {
    .nsw-form-input,
    .nsw-form-select,
    .nsw-form__input,
    .nsw-form__select {
        font-size:1rem;
        line-height: 1.5
    }
}

.nsw-form-input:hover,
.nsw-form-select:hover,
.nsw-form__input:hover,
.nsw-form__select:hover {

    background-color: rgba(0,133,179,.2)
}

.nsw-form-input:focus,
.nsw-form-select:focus,
.nsw-form__input:focus,
.nsw-form__select:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px
}

.nsw-form-input:disabled,
.nsw-form-select:disabled,
.nsw-form__input:disabled,
.nsw-form__select:disabled {
    background-color: #f4f4f7;
    border-color: #a0a5ae;
    color: #a0a5ae;
    cursor: not-allowed
}

.nsw-form-input.has-error,
.nsw-form-input[aria-invalid=true],
.nsw-form-select.has-error,
.nsw-form-select[aria-invalid=true],
.nsw-form__input.has-error,
.nsw-form__input[aria-invalid=true],
.nsw-form__select.has-error,
.nsw-form__select[aria-invalid=true] {
    border-color: #b81237;
    border-width: 2px
}

.nsw-form-input.has-error:hover,
.nsw-form-input[aria-invalid=true]:hover,
.nsw-form-select.has-error:hover,
.nsw-form-select[aria-invalid=true]:hover,
.nsw-form__input.has-error:hover,
.nsw-form__input[aria-invalid=true]:hover,
.nsw-form__select.has-error:hover,
.nsw-form__select[aria-invalid=true]:hover {
    background-color: #f7e7eb
}

.nsw-form-select,
.nsw-form__select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%23002664' xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M16 26l16-16-4-4-12 12L4 6l-4 4 16 16z'/%3E%3C/svg%3E");
    padding-right: 3rem;
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem auto
}

.nsw-form-select:disabled,
.nsw-form__select:disabled {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%23a0a5ae' xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M16 26l16-16-4-4-12 12L4 6l-4 4 16 16z'/%3E%3C/svg%3E")
}

.nsw-form-select option,
.nsw-form__select option {
    background-color: #fff
}

.nsw-form-checkbox,
.nsw-form-radio,
.nsw-form__checkbox,
.nsw-form__radio {

    clear: left
}

.nsw-form-checkbox__input,
.nsw-form-radio__input,
.nsw-form__checkbox-input,
.nsw-form__radio-input {
    position: absolute;
    opacity: 0
}

.nsw-form-checkbox__input:hover+.nsw-form-checkbox__label:before,
.nsw-form-checkbox__input:hover+.nsw-form-radio__label:before,
.nsw-form-radio__input:hover+.nsw-form-checkbox__label:before,
.nsw-form-radio__input:hover+.nsw-form-radio__label:before,
.nsw-form__checkbox-input:hover+.nsw-form__checkbox-label:before,
.nsw-form__checkbox-input:hover+.nsw-form__radio-label:before,
.nsw-form__radio-input:hover+.nsw-form__checkbox-label:before,
.nsw-form__radio-input:hover+.nsw-form__radio-label:before {

    background-color: rgba(0,133,179,.2)
}

.nsw-form-checkbox__input:checked+.nsw-form-checkbox__label:after,
.nsw-form-radio__input:checked+.nsw-form-checkbox__label:after,
.nsw-form__checkbox-input:checked+.nsw-form__checkbox-label:after,
.nsw-form__radio-input:checked+.nsw-form__checkbox-label:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M29.362 3.742L10.495 22.946l-7.857-7.997L0 17.634l9.175 9.34 1.319 1.284 1.318-1.284L31.999 6.427z'/%3E%3C/svg%3E");
    background-color: #002664
}

.nsw-form-checkbox__input:checked+.nsw-form-radio__label:after,
.nsw-form-radio__input:checked+.nsw-form-radio__label:after,
.nsw-form__checkbox-input:checked+.nsw-form__radio-label:after,
.nsw-form__radio-input:checked+.nsw-form__radio-label:after {
    background-color: #002664
}

.nsw-form-checkbox__input:disabled+.nsw-form-checkbox__label,
.nsw-form-checkbox__input:disabled+.nsw-form-radio__label,
.nsw-form-radio__input:disabled+.nsw-form-checkbox__label,
.nsw-form-radio__input:disabled+.nsw-form-radio__label,
.nsw-form__checkbox-input:disabled+.nsw-form__checkbox-label,
.nsw-form__checkbox-input:disabled+.nsw-form__radio-label,
.nsw-form__radio-input:disabled+.nsw-form__checkbox-label,
.nsw-form__radio-input:disabled+.nsw-form__radio-label {
        cursor: not-allowed
}

.nsw-form-checkbox__input:disabled+.nsw-form-checkbox__label:before,
.nsw-form-checkbox__input:disabled+.nsw-form-radio__label:before,
.nsw-form-radio__input:disabled+.nsw-form-checkbox__label:before,
.nsw-form-radio__input:disabled+.nsw-form-radio__label:before,
.nsw-form__checkbox-input:disabled+.nsw-form__checkbox-label:before,
.nsw-form__checkbox-input:disabled+.nsw-form__radio-label:before,
.nsw-form__radio-input:disabled+.nsw-form__checkbox-label:before,
.nsw-form__radio-input:disabled+.nsw-form__radio-label:before {
    border-color: #a0a5ae;
    background-color: #f4f4f7
}

.nsw-form-checkbox__input:disabled:checked+.nsw-form-checkbox__label:after,
.nsw-form-checkbox__input:disabled:checked+.nsw-form-radio__label:after,
.nsw-form-radio__input:disabled:checked+.nsw-form-checkbox__label:after,
.nsw-form-radio__input:disabled:checked+.nsw-form-radio__label:after,
.nsw-form__checkbox-input:disabled:checked+.nsw-form__checkbox-label:after,
.nsw-form__checkbox-input:disabled:checked+.nsw-form__radio--label:after,
.nsw-form__radio-input:disabled:checked+.nsw-form__checkbox-label:after,
.nsw-form__radio-input:disabled:checked+.nsw-form__radio-label:after {
        background-color: #a0a5ae
}

.nsw-form-checkbox__input:focus+.nsw-form-checkbox__label:before,
.nsw-form-radio__input:focus+.nsw-form-checkbox__label:before,
.nsw-form__checkbox-input:focus+.nsw-form__checkbox-label:before,
.nsw-form__radio-input:focus+.nsw-form__checkbox-label:before {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px
}

.nsw-form-checkbox__input:focus+.nsw-form-radio__label:before,
.nsw-form-radio__input:focus+.nsw-form-radio__label:before,
.nsw-form__checkbox-input:focus+.nsw-form__radio-label:before,
.nsw-form__radio-input:focus+.nsw-form__radio-label:before {
    box-shadow: 0 0 0 3px #fff,0 0 0 6px #0085b3
}

.nsw-form-checkbox__input.has-error+.nsw-form-checkbox__label:hover:before,
.nsw-form-checkbox__input[aria-invalid=true]+.nsw-form-checkbox__label:hover:before,
.nsw-form-radio__input.has-error+.nsw-form-checkbox__label:hover:before,
.nsw-form-radio__input[aria-invalid=true]+.nsw-form-checkbox__label:hover:before
.nsw-form__checkbox-input.has-error+.nsw-form__checkbox-label:hover:before,
.nsw-form__checkbox-input[aria-invalid=true]+.nsw-form__checkbox-label:hover:before,
.nsw-form__radio-input.has-error+.nsw-form__checkbox-label:hover:before,
.nsw-form__radio-input[aria-invalid=true]+.nsw-form__checkbox-label:hover:before {

    background-color: #f7e7eb
}

.nsw-form-checkbox__input.has-error+.nsw-form-checkbox__label:before,
.nsw-form-checkbox__input[aria-invalid=true]+.nsw-form-checkbox__label:before,
.nsw-form-radio__input.has-error+.nsw-form-checkbox__label:before,
.nsw-form-radio__input[aria-invalid=true]+.nsw-form-checkbox__label:before,
.nsw-form__checkbox-input.has-error+.nsw-form__checkbox-label:before,
.nsw-form__checkbox-input[aria-invalid=true]+.nsw-form__checkbox-label:before,
.nsw-form__radio-input.has-error+.nsw-form__checkbox-label:before,
.nsw-form__radio-input[aria-invalid=true]+.nsw-form__checkbox-label:before {
    border-width: 2px;
    border-color: #b81237
}

.nsw-form-checkbox__label,.nsw-form-radio__label,
.nsw-form__checkbox-label,.nsw-form__radio-label {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    min-height: 2rem;
    display: block;
    position: relative
}

@media (min-width: 62em) {
    .nsw-form-checkbox__label,.nsw-form-radio__label,
    .nsw-form__checkbox-label,.nsw-form__radio-label {
        font-size:1rem;
        line-height: 1.5
    }
}

.nsw-form-checkbox__label:before, .nsw-form-radio__label:before,
.nsw-form__checkbox-label:before,.nsw-form__radio-label:before {
    margin-right: 1rem;
    content: "";
    width: 2rem;
    height: 2rem;
    border: 1px solid #4c4f55;
    background: #fff;
    top: 50%;
    margin-top: -1rem;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    position: absolute
}

.nsw-form-checkbox__label:after, .nsw-form-radio__label:after,
.nsw-form__checkbox-label:after, .nsw-form__radio-label:after {
    content: "";
    position: absolute;
    width: 1.375rem;
    height: 1.375rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 1rem auto;
    left: .3125rem;
    top: 50%;
    margin-top: -.6875rem
}

.nsw-form-checkbox__label:before,
.nsw-form__checkbox-label:before {
        border-radius: .25rem
}

.nsw-form-radio__label:after, .nsw-form-radio__label:before,
.nsw-form__radio-label:after, .nsw-form__radio-label:before {
    border-radius: 50%
}

.nsw-form-helper,
.nsw-form__helper {
/*    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.35;
    display: block;
    margin-bottom: .25rem
}

@media (min-width: 62em) {
    .nsw-form-helper,
    .nsw-form__helper {
        font-size:.875rem;
        line-height: 1.35
    }
}

.nsw-form-helper--error,
.nsw-form__helper--error {
    font-weight: 600;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%23b81237' xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M16 32A16.003 16.003 0 0027.314 4.686a16.003 16.003 0 00-22.628 0 16.003 16.003 0 000 22.628C7.687 30.314 11.756 32 16 32zm0-25a2 2 0 110 4.001A2 2 0 0116 7zm-2 7h4v11h-4V14z'/%3E%3C/svg%3E");
    padding: .5rem 1rem .5rem 2rem;
    margin-top: .5rem;
    background-repeat: no-repeat;
    background-position: left .5rem center;
    background-size: 1rem auto;
    background-color: #f7e7eb
}

/* update on helper-valid 20210714 */
.nsw-form-helper--valid,
.nsw-form__helper--valid {
    font-weight:600;
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%232e5299' xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M29.362 3.742L10.495 22.946l-7.857-7.997L0 17.634l9.175 9.34 1.319 1.284 1.318-1.284L31.999 6.427z'/%3E%3C/svg%3E");
    padding:.5rem 1rem .5rem 2rem;
    margin-top:.5rem;
    background-repeat:no-repeat;
    background-position:left .5rem top .5rem;
    background-size:1rem auto;
    background-color:#eaedf4;
}
/* end update */


.nsw-form-fieldset,
.nsw-form__fieldset {
    margin: 0;
    padding: 1rem 0;
    border: 0;
    position: relative
}

.nsw-form-fieldset legend,
.nsw-form__fieldset legend {
    padding: 0 0 1rem;
    width: 100%;
    display: block;
    float: left
}

.nsw-form-fieldset:after,
.nsw-form__fieldset:after {
    border-radius: .25rem;
    z-index: -100;
    content: none;
    width: calc(100% + 18px);
    height: 100%;
    border: 2px solid #b81237;
    position: absolute;
    top: 0;
    left: -9px
}

.nsw-form-fieldset.has-error:after,
.nsw-form-fieldset[aria-invalid=true]:after,
.nsw-form__fieldset.has-error:after,
.nsw-form__fieldset[aria-invalid=true]:after {
    content: ""
}

@media (min-width: 48em) {
    .nsw-form-fieldset.has-error,.nsw-form-fieldset[aria-invalid=true] {
        padding:1rem
    }

    .nsw-form-fieldset.has-error:after,.nsw-form-fieldset[aria-invalid=true]:after {
        content: ""
    }

    .nsw-form-fieldset:after {
        width: 100%;
        left: 0
    }
}

.nsw-form-legend-text {
/*    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.25;
    width: 100%;
    display: block
}

@media (min-width: 62em) {
    .nsw-form-legend-text {
        font-size:1.5rem;
        line-height: 1.25
    }
}

*+.nsw-form-group {
    margin-top: 1rem;
    border: 0
}

.nsw-form-search {
    display: flex;
    position: relative
}

.nsw-form-search__input {
/*    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding: .75rem 1rem;
    border-radius: .25rem;
    background-color: #fff;
    color: #333;
    border: 1px solid #4c4f55;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%
}

@media (min-width: 62em) {
    .nsw-form-search__input {
        font-size:1rem;
        line-height: 1.5
    }
}

.nsw-form-search__input:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    z-index: 100
}

.nsw-form-search__input:hover {
    background-color: rgba(0,133,179,.2)
}

.nsw-form-search__submit {
    border-radius: .25rem;
    padding: 0 .75rem;
    border: 1px solid #4c4f55;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center
}

.nsw-form-search__submit:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0
}

.nsw-form-search__submit:hover {
    background-color: rgba(0,133,179,.2)
}
