.nsw-button {
/*    font-family: Montserrat,Arial,sans-serif;
    -moz-osx-font-smoothing: grayscale;*/
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.5rem 1rem 0 0;
    border-radius: .25rem;
    border: 2px solid transparent;
    white-space: normal;
    padding: .75rem 1.5rem;
    cursor: pointer;
    min-width: 7.75rem;
    -webkit-appearance: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block
}

@media (min-width: 62em) {
    .nsw-button {
        font-size:1rem;
        line-height: 1.5
    }
}

.nsw-button:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px
}

.nsw-button--primary {
    color: #fff;
    background-color: #002664;
    border-color: #002664
}

.nsw-button--primary:hover {
    color: #fff;
    background-color: #003182;
    border-color: #003182
}

.nsw-button--secondary {
    color: #333;
    background-color: #fff;
    border-color: #002664
}

.nsw-button--secondary:hover {
    color: #fff;
    background-color: #002664;
    border-color: #002664
}

.nsw-button--danger {
    color: #fff;
    background-color: #d7153a;
    border-color: #d7153a
}

.nsw-button--danger:hover {
    color: #fff;
    background-color: #e92147;
    border-color: #e92147
}

.nsw-button--outline {
    color: #333;
    background-color: #fff;
    border-color: #002664
}

.nsw-button--outline:hover {
    color: #fff;
    background-color: #002664;
    border-color: #002664
}

.nsw-button--highlight {
    color: #fff;
    background-color: #d7153a;
    border-color: #d7153a
}

.nsw-button--highlight:hover {
    color: #fff;
    background-color: #e92147;
    border-color: #e92147
}

.nsw-button--white {
    color: #333;
    background-color: #fff;
    border-color: #fff
}

.nsw-button--white:hover {
    color: #333;
    background-color: #e4e4e6;
    border-color: #e4e4e6
}

.nsw-button:active {
    background-color: #0085b3;
    color: #fff;
    border-color: #0085b3
}

.nsw-button.disabled,.nsw-button:disabled {
    background-color: #f4f4f7;
    color: #a0a5ae;
    border-color: #f4f4f7;
    cursor: not-allowed
}

.nsw-button--block {
    display: block;
    width: 100%
}

.nsw-button--block+.nsw-button--block {
    margin-bottom: 0
}

.nsw-button--full-width {
    display: block;
    width: 100%
}

@media (min-width: 62em) {
    .nsw-button--full-width {
        display:inline-block;
        width: auto
    }
}


/* moved from Global Alert

.nsw-global-alert .nsw-button,
.nsw-sitewide-message.nsw-button {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    display: block;
    margin-right: 0
}

.nsw-global-alert .nsw-button:hover,
.nsw-sitewide-message.nsw-button:hover {
    color: #333;
    background-color: #e4e4e6;
    border-color: #e4e4e6
}

.nsw-global-alert .nsw-button:focus,
.nsw-sitewide-message.nsw-button:focus {
    outline: 3px solid #fff;
    outline-offset: 0;
    outline-offset: 3px
}

@media (min-width: 48em) {
    .nsw-global-alert .nsw-button,
    .nsw-sitewide-message.nsw-button {
        display:inline-block
    }
}

.nsw-global-alert--dark .nsw-button,
.nsw-sitewide-message--dark.nsw-button {
    color: #333;
    background-color: #fff;
    border-color: #fff
}

.nsw-global-alert--dark .nsw-button:hover,
.nsw-sitewide-message--dark.nsw-button:hover {
    color: #333;
    background-color: #e4e4e6;
    border-color: #e4e4e6
}
*/