.nsw-table {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    caption-side: bottom
}

@media (min-width: 62em) {
    .nsw-table {
        font-size:1rem;
        line-height: 1.5
    }
}

.nsw-table caption,.nsw-table td,.nsw-table th {
    padding: .75rem .5rem;
    text-align: left
}

.nsw-table td,.nsw-table th {
    vertical-align: baseline;
    border-bottom: 1px solid #333
}

.nsw-table tfoot td,.nsw-table th,.nsw-table thead td {
    font-family: Montserrat,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600
}

.nsw-table thead {
    border-bottom: 2px solid #333
}

.nsw-table--caption-top {
    caption-side: top
}

.nsw-table--striped td,.nsw-table--striped th {
    border-bottom: 0
}

.nsw-table--striped tbody tr:nth-of-type(2n) {
    background-color: #f4f4f7
}

.nsw-table--bordered td,.nsw-table--bordered th {
    border: 1px solid #333
}

.nsw-table-responsive {
    margin-top: 1.5rem;
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.nsw-table-responsive:first-child {
    margin-top: 0
}

@media (min-width: 48em) {
    .nsw-table-responsive {
        margin-top:2rem
    }
}

.nsw-table-responsive:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px
}

.nsw-table-responsive .nsw-table {
    min-width: 37.5rem
}