.nsw-socials {
    margin: .75rem 0 0;
    list-style: none;
    padding: 0;
    display: flex
}

.nsw-socials__item {
    margin-right: 1rem
}

.nsw-socials__link {
    text-decoration: none;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem
}

.nsw-socials__link:focus {
    outline: 3px solid #0085b3;
    outline-offset: 0;
    outline-offset: 3px
}

.nsw-socials__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #002664
}
